<?xml version="1.0" encoding="utf-8" ?> <CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <CodeSnippet Format="1.0.0"> <Header><Title>tSQLt - DebugExit</Title><Shortcut></Shortcut><Description>puts tSQLt out of debug mode</Description><Author>Brandon McClure</Author> <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes></Header><Snippet><Declarations>
			</Declarations><Code Language="SQL"><![CDATA[delete from tSQLt.DebugTests]]></Code></Snippet></CodeSnippet></CodeSnippets>
